<div class="container mt-5 " *ngIf="showpopup">
    <h2  *ngIf="viewType!='Popup'">{{ header }}</h2>
    <!-- <button class="btn btn-primary" *ngIf="viewType=='Popup'" (click)="closeEditpopup()"> X close</button> -->
    <a class="btn btn-primary" [routerLink]="['/']" *ngIf="viewType!='Popup'"> back</a>
    <form name="form" [formGroup]="form">
        <div class="form-group row">
            <label for="id" class="col-sm-2 col-form-label">ID</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="id" name="id" formControlName="id"  [readonly]="id" [ngClass]="{'is-invalid':form.get('id').touched && form.get('id').invalid}"/>
              <div class="invalid-feedback">
                <div>ID is required.</div>
              </div>
            </div>
        </div>
            <div class="form-group row">
              <label for="sname" class="col-sm-2 col-form-label">Student Name</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="sname" formControlName="sname" [ngClass]="{'is-invalid':form.get('sname').touched && form.get('sname').invalid}">
                <div class="invalid-feedback">
                  <div>Student Name is required.</div>
                </div>
              </div>
            </div>
            <div class="form-group row">
                <label for="fname" class="col-sm-2 col-form-label">Father Name</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" name="fname" formControlName="fname" [ngClass]="{'is-invalid':form.get('fname').touched && form.get('fname').invalid}">
                  <div class="invalid-feedback">
                    <div>Father Name is required.</div>
                  </div>
                </div>
            </div>
            <fieldset class="form-group">
              <div class="row">
                <legend class="col-form-label col-sm-2 pt-0">Gender</legend>
                <div class="col-sm-10">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="gender" value="male" formControlName="gender">
                    <label class="form-check-label" for="gridRadios1">
                      Male
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="gender" value="female">
                    <label class="form-check-label" for="gridRadios2">
                      Female
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="gender"  value="others">
                    <label class="form-check-label" for="gridRadios2">
                      Others
                    </label>
                  </div>
                </div>
              </div>
            </fieldset>
            <div class="form-group row">
                <label for="date" class="col-sm-2 col-form-label">Date of Birth</label>
                <div class="col-sm-10">
                  <input type="date" class="form-control" name="date" formControlName="date" [ngClass]="{'is-invalid':form.get('date').touched && form.get('date').invalid}">
                  <div class="invalid-feedback">
                    <div>date of birth  is required.</div>
                  </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="dep" class="col-sm-2 col-form-label">Department</label>
                <div class="col-sm-10">
                  <select class="form-control" name="dep"  formControlName="dep" [ngClass]="{'is-invalid':form.get('dep').touched && form.get('dep').invalid}">
                    <option value="csc">csc</option>
                    <option value="bsc">bsc</option>
                    <option value="bca">bca</option> 
                  </select>
                  <div class="invalid-feedback">
                    <div>department is required.</div>
                  </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="address" class="col-sm-2 col-form-label">Address</label>
                <div class="col-sm-10">
                  <textarea class="form-control" name="address" formControlName="address" [ngClass]="{'is-invalid':form.get('address').touched && form.get('address').invalid}"></textarea>
                  <div class="invalid-feedback">
                    <div>address is required.</div>
                  </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="email" class="col-sm-2 col-form-label">Email Id</label>
                <div class="col-sm-10">
                  <input type="email" class="form-control" name="email" formControlName="email" [ngClass]="{'is-invalid':form.get('email').touched && form.get('email').invalid}">
                  <div *ngIf="form.get('email').touched && form.get('email').invalid" class="invalid-feedback">
                    <div *ngIf="form.get('email').errors.required">email is required.</div>
                    <div *ngIf="form.get('email').errors.email">enter a valid email address</div>
                  </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="age" class="col-sm-2 col-form-label">Age</label>
                <div class="col-sm-10">
                  <input type="number" class="form-control" name="age" formControlName="age" [ngClass]="{'is-invalid':form.get('age').touched && form.get('age').invalid}">
                  <div class="invalid-feedback">
                    <div>age is required.</div>
                  </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="pass" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-10">
                  <input type="password" class="form-control" name="pass" formControlName="pass" [ngClass]="{'is-invalid':form.get('pass').touched && form.get('pass').invalid}">
                  <div *ngIf="form.get('pass').touched && form.get('pass').invalid" class="invalid-feedback">
                    <div *ngIf="form.get('pass').errors.required">password is required.</div>
                    <div *ngIf="form.get('pass').errors.minlength">password must be atleast 6 characters.</div>
                  </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="repass" class="col-sm-2 col-form-label">Confirm Password</label>
                <div class="col-sm-10">
                  <input type="password" class="form-control" name="repass"  formControlName="repass" [ngClass]="{'is-invalid':form.get('repass').touched && form.get('repass').invalid}">
                  <div *ngIf="form.get('repass').touched && form.get('repass').invalid" class="invalid-feedback">
                    <div *ngIf="form.get('repass').errors.required">confirm password is required.</div>
                    <div *ngIf="form.get('repass').errors.minlength">password must be atleast 6 characters.</div>
                  </div>
                </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-2"></div>
              <div class="col-sm-10">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="checkbox" formControlName="checkbox" >
                  <label class="form-check-label" for="checkbox">
                    Agree terms and conditions
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-2"></div>
              <div class="col-sm-10">
                <button type="button"[disabled]="!form.valid" (click)="onSubmit()" id="registerBtn" value="submit" class="btn btn-primary">Save</button>
              </div>
            </div>
          </form>
          </div>