<div class="container mt-5">
    <h1>List of Students</h1>
    <a routerLink="student/add/0" class="btn btn-primary mt-5 mb-3">Create Student</a>
    <button  class="btn btn-primary mt-5 mb-3 ml-4" (click)="openCreate()" >Create Student popup</button>
    <input id="myInput" type="text" placeholder="Search..">
    <table class="table" id="indextable">
        <thead>
            <th><a class="a1" href="javascript:SortTable(0,'N');">Id</a></th>
            <th><a class="a1" href="javascript:SortTable(1,'T');">Student Name</a></th>
            <th><a class="a1" href="javascript:SortTable(2,'T');">Father Name</a></th>
            <th><a class="a1" href="javascript:SortTable(3,'T');">Gender</a></th>
            <th><a class="a1" href="javascript:SortTable(4,'T');">Date of Birth</a></th>
            <th><a class="a1" href="javascript:SortTable(5,'T');">Department</a></th>
            <th><a class="a1" href="javascript:SortTable(6,'T');">Address</a></th>
            <th><a class="a1" href="javascript:SortTable(7,'T');">Email Id</a></th>
            <th><a class="a1" href="javascript:SortTable(8,'N');">Age</a></th>
            <th><a class="a1" href="javascript:SortTable(9,'T');">Password</a></th>
            <th><a class="a1" href="javascript:SortTable(10,'T');">Confirm Password</a></th>
            <th><a class="a1" href="javascript:SortTable(11,'T');">Terms and condition</a></th>
            <th></th>
        </thead>
        <tbody id="myTable">
            <tr *ngFor="let odd = odd; let i =index; let even =even; let l =last; let totalItems = totalrecords; let f =first; let student of D | 
            paginate: { id: 'listing_pagination',itemsPerPage:2, currentPage: page, totalItems: totalRecords }" [ngClass]="{first:f,last:l,even:even,odd:odd}">
                <td>{{ student.id }}</td> 
                <td>{{ student.sname }}</td>
                <td>{{ student.fname }}</td>
                <td>{{ student.gender }}</td>
                <td>{{ student.date }}</td>
                <td>{{ student.dep }}</td>
                <td>{{ student.address }}</td>
                <td>{{ student.email }}</td>
                <td>{{ student.age }}</td>
                <td>{{ student.pass }}</td>
                <td>{{ student.repass }}</td>
                <td>{{ student.checkbox }}</td>
                <td><a [routerLink]="['student/edit',student.id]">Edit</a></td>
                <td><button  class="btn btn-primary" (click)="openEdit(student.id)">Edit popup</button></td>
                <td><button class="btn btn-danger" (click)="onDelete(student.id)">Delete</button></td>
            </tr>
        </tbody>
    </table>

<pagination-controls id="listing_pagination" maxSize="5" directionLinks="true" (pageChange)="page = $event">
</pagination-controls>
</div>
<div Id="popup"
    class="modal"
    [ngClass]="{'display-block ': showEditForm}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div style="" class="gfg">
            <div class="modal-header">
                <h2 class="modal-title" >Edit Popup</h2>
                <button type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                    (click)="closeEditfromStudentPage()">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">

<app-edit *ngIf="showEditForm" [showpopup]="showEditForm" [id]="EditValue" [viewType]="'Popup'" (closeEdit)="closeEditfromStudentPage()" > 

</app-edit>
</div>
</div>
</div>
</div>
</div>